<%include ../include/header.html%>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/category/add" class="btn btn-info">增加分类</a>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                     <tr>
                        <th class="text-center">名称</th>
                        <th class="text-center">操作</th>
                     </tr>
                    </thead>
                    <tbody>
                     <%categories.forEach(function(category){%>
                     <tr>
                         <td class="text-center"><%=category.name%></td>
                         <td class="text-center">
                             <a href="/category/delete/<%=category._id%>" class="btn btn-danger">删除</a>
                         </td>
                     </tr>
                     <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%include ../include/footer.html%>
