<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .avatar{
            width:23px;
            height:23px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">珠峰博客</a>
        </div>
        <div class="collapse navbar-collapse"  id="main">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <%if(user){%>
                <li><a href="/article/add">发表文章</a></li>
                <li><a href="/user/signout">退出</a></li>
                 <%}else{%>
                <li><a href="/user/signup">注册</a></li>
                <li><a href="/user/signin">登录</a></li>
                <%}%>
            </ul>
            <%if(user){%>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <img class="avatar" src="<%=user.avatar%>">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <%=user.username%>
                    </a>
                </li>
            </ul>
            <% }%>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <%if(success){%>
               <div class="alert alert-success text-center"><%=success%></div>
            <%}%>
            <%if(error){%>
              <div class="alert alert-danger text-center"><%=error%></div>
            <%}%>
        </div>
    </div>